

* {
  box-sizing: border-box;
}

p{
  font-size: 30px;
  margin:20px;
}

#contenedor p{
display: inline; /* Hace que los párrafos se muestren en línea */
}

body{
margin-left: 35%;

}

div{
border: solid;
margin-right:300px;
}

button{
font-size: 50px;
}

#display2{
margin-left: 110px;
}

.m{
border: solid;

}
#digitos{
margin-left: 0px;

}
.digito{
margin-left: 30px;
}
.estado{
margin-left: 30px;
margin-bottom: 50px;


}