*{
	box-sizing: border-box;
}
h1{
    font-size: 100px;
    margin-right: 100px;
    color: rgb(236, 233, 35);
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-style: italic;
    animation: llama 1s infinite alternate-reverse;
    
}
body{
  background-image: linear-gradient(to left, rgb(223, 50, 7), rgb(163, 141, 13));
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m{
  display: flex;
}
p{
    margin:20px;
    color: rgb(236, 233, 35);
    font-weight: bold;
  
  }
#principal{
  border: transparent;
  border-radius: 30px;
    
}
  
.columna {
    float: left;
    padding: 10px;
    min-height: 500px;
    font-family: 'Century Gothic', sans-serif;
    }
    
.izquierda {
    width: 25%;
    border-radius: 10px
    }
    
.derecha {
    width: 70%;
    border-radius: 10px;
    }

#contenedor p{
  display: inline; /* Hace que los párrafos se muestren en línea */
  margin-left: 55px;
  font-size: 50px;
  }


#principal{
    border: solid;
    border-color: rgb(236, 233, 35);
    background-color: #d6d1cd;
    font-weight: bold;
    border-radius: 10px;

}
  
button{
  font-size: 50px;
  background-color: rgba(0, 0, 0, .4);
  border: none;
  color: rgb(236, 199, 35);
  font-weight: bold;
  cursor: pointer;
  }
  
#display2{
  margin-left: 110px;
  font-weight: bold;
  margin-left: 180px;
  font-size: 45px;
  }
  
.m{
    color: #ff5733;     
    margin-left: 30px; 
}
#digitos{
  margin-left: 165px ;
  font-size: 60px;
  border: none;
  
  }
#state{
    margin-left: 40px;
    margin-top: 30px;
}

  
#boton0{
    margin-left: 55px;
}
.estado{
  margin-bottom: 50px;
  }

@media screen and (max-width: 400px) {
      
    p{
      font-size: 40px
    }
    button{
        font-size: 40px;;
    }
    h1{
      margin-left: 10px;
      font-size: 60px;
    }
  
    #state{
      padding-left: 60px;
      margin-top: 30px;
    }
    #contenedor p{
      margin-left: 55px;
      font-size: 20px;
    }
    #display2{
        margin-left: 90px;
    }
    #reset{
        margin-left: 60px;
    }

    #digitos{
        margin-left: 120px;
    }
    #principal{
        margin-left: 40px;;
    }

    
}

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }
    h1{
      margin-left: 100px;
      font-size: 80px;
    }
    button{
      margin-left: 10px;
    }
    #display2 {
      padding-left: 70px;
      font-size: 45px;
    }
    
    #boton0{
      margin-left: 75px;
    }
    #digitos{
      margin-left: 145px;
    }

    #state{
      margin-top: 30px;
      margin-right: 25px;
    }
    #contenedor p{
      margin-left: 40px;
      font-size: 40px;
    }

}
  /* Efecto de llamas en el título*/
@keyframes llama {
    0% {
        text-shadow: 0 0 0px #f5d800, 0 0 10px #ff5733, 0 0 40px #ff5733, 0 0 50px #ff5733, 0 0 60px #ff5733, 0 0 70px #ff5733, 0 0 80px #ff5733, 0 0 9px #ff5733;
    }
    100% {
        text-shadow: 0 0 px #f5d800, 0 0 30px #ff5733, 0 0 0px #ff5733, 0 0 0px #ff5733, 0 0 60px #ff5733, 0 0 70px #ff5733, 0 0 80px #ff5733, 0 0 90px #ff5733, 0 0 100px #ff5733, 0 0 110px #ff5733, 0 0 120px #ff5733;
    }
  }