/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
body{
  background-color: rgb(8, 13, 61)
  
}

h1{
    background-image: linear-gradient(to bottom, orangered, #f5d800);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Century Gothic', sans-serif;
    font-style: italic;
    font-size: 50px;
    margin-left: 100px;
  }

h2{ 
  
  background-image: linear-gradient(to bottom, orangered, #f5d800);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Century Gothic', sans-serif;
  font-style: italic;
  border-radius: 10px;
  font-size: 40px ;
}
    

.columna {
float: left;
padding: 10px;
min-height: 500px;
font-family: 'Century Gothic', sans-serif;
}

.izquierda {
width: 25%;
border-radius: 10px
}

.derecha {
width: 75%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#b63f07;
    color: white;
}

#c2 {
  background-color:#0f0357;
  color: #f5d800;

}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.iresponsive {
    padding: 2px;
    float: left;
    width: 100%;
  }

.enlace{
    background-image: linear-gradient(to bottom, orangered, #f5d800);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}
 

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */