
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
body{
  background-color: rgb(8, 13, 61);
  color: #f5d800;
}
h1{
  font-size: 50px;
}

h2{
  font-family: 'Century Gothic', sans-serif;
  font-style: italic;
  padding-inline-start: 2%;

}
#degradado{
  background-image: linear-gradient(to bottom, orangered, #f5d800);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Century Gothic', sans-serif;
  font-style: italic;
}

.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 25%;
border-radius: 20px;
}

.derecha {
width: 75%;
border-radius: 20px;
height: 100px;

}

#apartados {
  border-radius: 12px;
  border: solid;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color: #b63f07;
    border: solid;
    border-color: #f5d800;


}

#c2 {
    background-color: rrgb(22, 22, 27);
    border: solid;
    border-color: #f5d800;
    height: 100px;
    ;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border-radius: 15px;
}

.iresponsive {
    padding: 2px;
    float: left;
    width: 100%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */

/* Efecto de llamas en el título*/
