/* 
Estilos para el campo de tiro
*/  
h1{
  margin-left: 20%;
  font-size: 250%;
  margin: 5%;
}
body{
  background-image: linear-gradient(to left, rgb(120, 179, 235), rgb(18, 109, 38));
  color: azure;
  margin-left: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#ctiro {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  margin-left: 0%;
  background-image: url('fondo.jpg'); 
  background-size: cover; 
}

#paneles{
  margin-top: 30px;
  margin-left: 250px;
}


@media screen and (max-width: 600px) {
  
  body{
  background-image: linear-gradient(to left, rgb(23, 127, 224), rgb(18, 109, 38));
  color: azure;
  margin-left: 0%;
  }
  canvas {
    border: 1px solid black;
    display: block;
    width: 100%; 
    height: auto; 
    margin: 10%

    }
  #paneles{
    margin: 0;
    margin-left: 10%;
  }
}